body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px);
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#header {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  z-index: 99;
}
#header h1 {
  font-weight: 300;
  font-size: 18px;
  text-shadow: 1px 1px 0px #ccc,2px 2px 0px #ccc,3px 3px 0px #ccc,4px 4px 0px #ccc,5px 5px 0px #ccc,6px 6px 0px #ccc,7px 7px 0px #ccc,8px 8px 0px #ccc,9px 9px 0px #ccc,10px 10px 0px #ccc,11px 11px 0px #ccc,12px 12px 0px #ccc,13px 13px 0px #ccc,14px 14px 0px #ccc,15px 15px 0px #ccc,16px 16px 0px #ccc,17px 17px 0px #ccc,18px 18px 0px #ccc,19px 19px 0px #ccc,20px 20px 0px #ccc,21px 21px 0px #ccc,22px 22px 0px #ccc,23px 23px 0px #ccc,24px 24px 0px #ccc,25px 25px 0px #ccc,26px 26px 0px #ccc,27px 27px 0px #ccc,28px 28px 0px #ccc,29px 29px 0px #ccc,30px 30px 0px #ccc,31px 31px 0px #ccc,32px 32px 0px #ccc,33px 33px 0px #ccc,34px 34px 0px #ccc,35px 35px 0px #ccc,36px 36px 0px #ccc,37px 37px 0px #ccc,38px 38px 0px #ccc,39px 39px 0px #ccc,40px 40px 0px #ccc,41px 41px 0px #ccc,42px 42px 0px #ccc,43px 43px 0px #ccc,44px 44px 0px #ccc,45px 45px 0px #ccc,46px 46px 0px #ccc,47px 47px 0px #ccc,48px 48px 0px #ccc,49px 49px 0px #ccc,50px 50px 0px #ccc;
  text-transform: uppercase;
}
#header h1 strong {
  font-weight: 700;
}

#footer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  background-color: #f8f8f8;
  color: #111;
  text-shadow: 1px 1px 0px #ccc,2px 2px 0px #ccc,3px 3px 0px #ccc,4px 4px 0px #ccc,5px 5px 0px #ccc,6px 6px 0px #ccc,7px 7px 0px #ccc,8px 8px 0px #ccc,9px 9px 0px #ccc,10px 10px 0px #ccc,11px 11px 0px #ccc,12px 12px 0px #ccc,13px 13px 0px #ccc,14px 14px 0px #ccc,15px 15px 0px #ccc,16px 16px 0px #ccc,17px 17px 0px #ccc,18px 18px 0px #ccc,19px 19px 0px #ccc,20px 20px 0px #ccc,21px 21px 0px #ccc,22px 22px 0px #ccc,23px 23px 0px #ccc,24px 24px 0px #ccc,25px 25px 0px #ccc,26px 26px 0px #ccc,27px 27px 0px #ccc,28px 28px 0px #ccc,29px 29px 0px #ccc,30px 30px 0px #ccc,31px 31px 0px #ccc,32px 32px 0px #ccc,33px 33px 0px #ccc,34px 34px 0px #ccc,35px 35px 0px #ccc,36px 36px 0px #ccc,37px 37px 0px #ccc,38px 38px 0px #ccc,39px 39px 0px #ccc,40px 40px 0px #ccc,41px 41px 0px #ccc,42px 42px 0px #ccc,43px 43px 0px #ccc,44px 44px 0px #ccc,45px 45px 0px #ccc,46px 46px 0px #ccc,47px 47px 0px #ccc,48px 48px 0px #ccc,49px 49px 0px #ccc,50px 50px 0px #ccc;
  height: 60px;
  overflow: hidden;
  align-items: center;
}

#main {
  padding: 100px 0;
}
#main #contents {
  width: 1200px;
  margin: 100px auto;
}
#main #contents .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
#main .thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
#main #filter {
  margin-bottom: 50px;
}
#main #filter ul {
  display: flex;
  justify-content: center;
}
#main #filter ul li {
  margin: 5px;
  padding: 20px 50px;
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  user-select: none;
  cursor: pointer;
}
#main #filter ul li.on {
  background-color: #f00;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
#main #works .itemList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
}
#main #works .itemList li {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}
#main #works .itemList li a {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
#main #works .itemList li h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}
#main #works .itemList li .desc {
  line-height: 1.5;
  color: #666;
}
#main #works .itemList li .point {
  font-size: 24px;
  color: #f00;
  margin-top: 50px;
}
#main #works .itemList li img {
  width: 100%;
}
#main .mainBtns {
  display: flex;
  justify-content: flex-end;
  right: 50px;
  top: 110px;
  position: absolute;
}
#main .mainBtns a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  background-color: #111;
}
#main .btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#main .btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  margin: 0 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#main .detailPage {
  color: #f8f8f8;
}
#main .detailPage .detailTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#main .detailPage .detailTable li {
  width: 100%;
  display: flex;
  padding: 30px 0;
}
#main .detailPage .detailTable li span {
  text-align: center;
  width: 100%;
}
#main .detailPage .detailTable .detailHead {
  position: relative;
}
#main .detailPage .detailTable .detailHead:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: rgb(204, 204, 204);
  background: linear-gradient(90deg, rgb(204, 204, 204) 0%, rgba(17, 17, 17, 0.9836309524) 50%, rgb(255, 255, 255) 100%);
  position: absolute;
  bottom: 0;
}
#main .detailPage .desc {
  text-align: center;
  padding: 50px;
}
#main .detailPage .img {
  display: flex;
  justify-content: center;
}
#main .detailPage .img img {
  width: auto;
  height: 500px;
  object-fit: cover;
}

.fancybox__caption a {
  vertical-align: middle;
  margin-left: 10px;
  color: #fff;
}

.with-fancybox .cursor {
  display: none;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  left: -100px;
  top: -300px;
  transform: translate(-50%, -50%);
  z-index: 100;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  text-shadow: 1px 1px 0px #cc0000,2px 2px 0px #cc0000,3px 3px 0px #cc0000,4px 4px 0px #cc0000,5px 5px 0px #cc0000,6px 6px 0px #cc0000,7px 7px 0px #cc0000,8px 8px 0px #cc0000,9px 9px 0px #cc0000,10px 10px 0px #cc0000,11px 11px 0px #cc0000,12px 12px 0px #cc0000,13px 13px 0px #cc0000,14px 14px 0px #cc0000,15px 15px 0px #cc0000,16px 16px 0px #cc0000,17px 17px 0px #cc0000,18px 18px 0px #cc0000,19px 19px 0px #cc0000,20px 20px 0px #cc0000,21px 21px 0px #cc0000,22px 22px 0px #cc0000,23px 23px 0px #cc0000,24px 24px 0px #cc0000,25px 25px 0px #cc0000,26px 26px 0px #cc0000,27px 27px 0px #cc0000,28px 28px 0px #cc0000,29px 29px 0px #cc0000,30px 30px 0px #cc0000,31px 31px 0px #cc0000,32px 32px 0px #cc0000,33px 33px 0px #cc0000,34px 34px 0px #cc0000,35px 35px 0px #cc0000,36px 36px 0px #cc0000,37px 37px 0px #cc0000,38px 38px 0px #cc0000,39px 39px 0px #cc0000,40px 40px 0px #cc0000,41px 41px 0px #cc0000,42px 42px 0px #cc0000,43px 43px 0px #cc0000,44px 44px 0px #cc0000,45px 45px 0px #cc0000,46px 46px 0px #cc0000,47px 47px 0px #cc0000,48px 48px 0px #cc0000,49px 49px 0px #cc0000,50px 50px 0px #cc0000;
}

.txtBox {
  position: fixed;
  top: 100px;
  left: 100px;
}

form {
  width: 1200px;
  margin: 100px auto;
  background-color: #fff;
  padding-bottom: 100px;
}
form .inputBox {
  padding: 30px;
  border-bottom: 1px solid #ccc;
}
form .inputBox label {
  display: flex;
  align-items: center;
}
form .inputBox label .label {
  display: flex;
  width: 150px;
  font-weight: 500;
}
form .inputBox label input[type=text],
form .inputBox label input[type=password],
form .inputBox label input[type=number],
form .inputBox label select {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  height: 50px;
  outline: none;
  margin-right: 5px;
  flex-grow: 1;
}
form .inputBox label button {
  height: 50px;
  margin-left: 10px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #111;
}
form .inputBox label #userID,
form .inputBox label #userPW,
form .inputBox label #userEmail,
form .inputBox label #userName {
  flex-grow: 1;
}
form .inputBox label textarea {
  flex-grow: 1;
  height: 300px;
  resize: none;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}
form .inputBox label .categoryList {
  display: flex;
}
form .inputBox label .categoryList li {
  padding-right: 20px;
}
form .inputBox .desc {
  padding: 20px 0 0 150px;
}
form .inputBox #btnZipCode {
  padding: 10px;
  box-sizing: border-box;
}
form .inputBox .genderBox > div {
  display: flex;
}
form .inputBox .genderBox > div input {
  width: 25px;
  height: 25px;
  margin: 5px 10px;
}
form .inputBox #userJob {
  width: 200px;
  height: 50px;
  font-weight: 500;
  padding: 5px;
}
form .inputBox .genreList {
  display: flex;
}
form .inputBox .genreList li {
  margin-right: 20px;
}
form .btns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
form .btns button {
  width: 200px;
  height: 70px;
  margin: 0 30px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: 700;
}
form .btns .red {
  display: flex;
  background-color: rgb(136, 42, 42);
  color: #fff;
  justify-content: center;
}

.table {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding-bottom: 100px;
  background-color: #fff;
}
.table .head {
  display: table-header-group;
  background-color: #ddd;
}
.table .head span {
  display: table-cell;
  border-top: 1px solid #333;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
}
.table .body {
  display: table-row-group;
  width: 100%;
}
.table .body > li {
  display: table-row;
  width: 100%;
}
.table .body > li .column {
  display: table-cell;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  vertical-align: middle;
}
.table .body > li .subject a {
  display: block;
  width: 100%;
  padding: 20px 0;
}
.table .body > li .subject:hover {
  text-decoration: underline;
  color: #00f;
}

@media all and (max-width: 1200px) {
  #contents {
    width: 100%;
    padding: 100px 20px;
  }
}